.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1392px;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #f4f4f4 0%, #fefefe 100%);
    padding: 8px 8px 8px 18px;
    border-radius: 20px;
    box-shadow: 0px 0.9px 3.6px 0.9px #0000001f;
  }

  &__logo {
    display: inline-block;
    width: 78px;
    height: 77px;
    margin-top: -8px;

    @include media('<tablet') {
      width: 67px;
      height: 67px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button,
  &__link {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    @include media('<tablet') {
      width: 50px;
      height: 50px;
    }
  }

  &__button {
    &:hover,
    &:focus-visible {
      .header__button-img--default {
        opacity: 0;
      }

      .header__button-img--hover {
        opacity: 1;
      }
    }
  }

  &__link {
    display: none;
  }

  @media (hover: none) and (pointer: coarse) {
    &__button {
      display: none;
    }

    &__link {
      display: block;
    }
  }

  &__button-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__button-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.35s ease;

    &--default {
      opacity: 1;
    }

    &--hover {
      opacity: 0;
    }
  }
}
