.text {
  padding: 112px 0;

  @include media('<tablet') {
    padding: 79px 0 52px 0;
  }

  &__inner {
    text-align: center;
    padding: 100px 12px;

    @include media('<tablet') {
      padding: 20px 12px;
    }

    @include layered-card();
  }

  &__logo {
    display: inline-block;
    width: 78px;
    height: auto;
    margin: 0 auto 16px;
  }

  &__text {
    max-width: 1015px;
    font-weight: 500;
    margin: 0 auto 28px;
    color: #000000a6;
    line-height: calc(46 / 40);
    @include adaptive-value('font-size', 40, 24, 1);

    b {
      font-weight: 700;
      color: #000000;
    }
  }

  &__made {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px 12px;

    &-text {
      font-weight: 500;
      color: #000000a6;

      &.text-1 {
        @include adaptive-value('font-size', 24, 18, 1);
      }

      &.text-2 {
        @include adaptive-value('font-size', 24, 14, 1);

        @include media('<tablet') {
          width: 100%;
        }
      }
    }

    a {
      @include adaptive-value('width', 130, 104, 1);
    }

    i {
      @include media('<tablet') {
        display: none;
      }
    }
  }
}
