<div class="how-it-works__swipe-stage">
  <img
    class="how-it-works__swipe-phone is-active"
    data-swipe-phone
    src="/images/phone-1.png"
    alt=""
    width="420"
    height="860"
    decoding="async"
  />
  <img
    class="how-it-works__swipe-phone"
    data-swipe-phone
    src="/images/phone-2.png"
    alt=""
    width="420"
    height="860"
    hidden
    decoding="async"
  />
  <img
    class="how-it-works__swipe-phone"
    data-swipe-phone
    src="/images/phone-3.png"
    alt=""
    width="420"
    height="860"
    hidden
    decoding="async"
  />
  <img
    class="how-it-works__swipe-phone"
    data-swipe-phone
    src="/images/phone-4.png"
    alt=""
    width="420"
    height="860"
    hidden
    decoding="async"
  />
  <img
    class="how-it-works__swipe-phone"
    data-swipe-phone
    src="/images/phone-5.png"
    alt=""
    width="420"
    height="860"
    hidden
    decoding="async"
  />
  <img
    class="how-it-works__swipe-card"
    data-swipe-card
    alt=""
    width="420"
    height="860"
    hidden
    decoding="async"
  />
</div>
