<div
  class="
    store-buttons
    {{#if classname}}
      {{ classname }}
    {{/if}}
  "
>
  <button
    class="store-buttons__button"
    type="button"
    data-store-open="app"
    aria-label="Download on the App Store"
  >
    <span class="store-buttons__inner">
      <img
        class="store-buttons__img store-buttons__img--default"
        src="/images/app-store-btn.png"
        alt=""
      />
      <img
        class="store-buttons__img store-buttons__img--hover"
        src="/images/app-store-btn-hover.png"
        alt=""
      />
    </span>
    <img
      class="store-buttons__img store-buttons__img--mobile"
      src="/images/app-store-btn-mob.png"
      alt=""
    />
  </button>
  <button
    class="store-buttons__button"
    type="button"
    data-store-open="google"
    aria-label="Get it on Google Play"
  >
    <span class="store-buttons__inner">
      <img
        class="store-buttons__img store-buttons__img--default"
        src="/images/google-play-btn.png"
        alt=""
      />
      <img
        class="store-buttons__img store-buttons__img--hover"
        src="/images/google-play-btn-hover.png"
        alt=""
      />
    </span>
    <img
      class="store-buttons__img store-buttons__img--mobile"
      src="/images/google-play-btn-mob.png"
      alt=""
    />
  </button>

  <a
    class="store-buttons__link"
    href="https://apps.apple.com/ua/app/brush-ai/id6761731010"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Download on the App Store"
  >
    <span class="store-buttons__inner">
      <img
        class="store-buttons__img store-buttons__img--default"
        src="/images/app-store-btn.png"
        alt=""
      />
      <img
        class="store-buttons__img store-buttons__img--hover"
        src="/images/app-store-btn-hover.png"
        alt=""
      />
    </span>
    <img
      class="store-buttons__img store-buttons__img--mobile"
      src="/images/app-store-btn-mob.png"
      alt=""
    />
  </a>
  <a
    class="store-buttons__link"
    href="https://play.google.com/store/apps/details?id=com.brush.brush&utm_source=na_Med"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Get it on Google Play"
  >
    <span class="store-buttons__inner">
      <img
        class="store-buttons__img store-buttons__img--default"
        src="/images/google-play-btn.png"
        alt=""
      />
      <img
        class="store-buttons__img store-buttons__img--hover"
        src="/images/google-play-btn-hover.png"
        alt=""
      />
    </span>
    <img
      class="store-buttons__img store-buttons__img--mobile"
      src="/images/google-play-btn-mob.png"
      alt=""
    />
  </a>
</div>
