/// Mixin for styling form-placeholders
/// @example scss - Usage
///   @include placeholder {
///    color: #333;
///   }
///
///   input[type='text'],
///   input[type='tel'],
///   input[type='email'] {
///     @include placeholder {
///      color: red;
///     }
///   }

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    opacity: 1;
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &.placeholder {
    @content;
  }
}

@mixin layered-card(
  $border-radius: 44px,
  $offset: 16px,
  $inner-bg: linear-gradient(180deg, #f4f4f4 0%, #fefefe 100%),
  $outer-bg: linear-gradient(180deg, #e9e9e9 0%, #e9e9e9 0.01%, #ffffff 100%)
) {
  background: $inner-bg;
  border-radius: $border-radius;
  position: relative;
  width: calc(100% - 32px);
  margin: 0 auto;
  box-shadow: 0px 1px 4px 1px #0000001f;

  @include media('<tablet') {
    $border-radius: 32px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -$offset;
    left: -$offset;
    width: calc(100% + #{$offset * 2});
    height: calc(100% + #{$offset * 2});
    border-radius: $border-radius + $offset;
    background: $outer-bg;
    z-index: -1;
  }
}

@mixin gradient-text(
  $gradient: linear-gradient(94.54deg, #ad1a1a 4.46%, #227f02 96.12%)
) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
